.sidebar {
    background: darken($primary, 10%);
    position: fixed;
    left: 0;
    height: 100%;
    width: 75px;
    top: 0;
}

.menu {
    margin-top: 100px;
    ul {
        li {
            text-align: center;
            a {
                padding: 12px 15px;
                display: inline-block;
                margin-bottom: 5px;
                border-radius: 5px;
                &:hover,
                &:focus,
                &:active {
                    background: darken($primary, 5%);
                    color: $white;
                }
                &.active {
                    background: $primary;
                    i {
                        color: #fff;
                    }
                }
                i {
                    color: #fff;
                    font-size: 24px;
                }
            }
        }
    }
}

.main {
    min-height: calc(100vh - 201px);
    margin-left: 75px;
}
